/* Splash Page */

#page-splash {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0285D2;
    background: radial-gradient(circle, #027BE5, #01379A);
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}

#sign-in-button {
  border: 1px solid black;
  box-shadow: 5px 5px 5px #888888;
}

#messages {
  width: 50%;
  margin: 0 auto;
  overflow-y: auto;
  height: 70%;
}


#submit {
  height: 40px;
  width: 29.2%;
}

#message-to-send {
  width: 70%;
  height: 40px;
  margin-top: 40px;
  margin: 0 auto;
}

#message-send-form {
  width: 50%;
  margin: 0 auto;
}

#chat-app-layout {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
}

.talk-bubble {
  margin: 40px;
  display: block;
  width: 300px;
  height: auto;
  background-color: white;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  box-shadow: 10px 5px 5px #888888;
}

.nametext {
  padding: 1em;
  text-align: left;
  line-height: 1.5em;
  height: 5px;
}

.talktext {
  padding: 1em;
  text-align: left;
  line-height: 1.5em;
  word-wrap: break-word;
}

#chat-box {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0285D2;
    background: radial-gradient(circle, #027BE5, #01379A);
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.triangle.left:after{
	content: ' ';
	width: 0;
	height: 0;
  position: relative;
  left: -12px;
	right: auto;
  top: -50px;
	bottom: auto;
	border: 12px solid;
	border-color: white white transparent transparent;
}

.triangle.right:after{
	content: ' ';
	position: relative;
	width: 0;
	height: 0;
  left: 288px;
  top: -50px;
	border: 12px solid;
	border-color: white transparent transparent white;
}
